body{
  background: #002244
}

*{
  text-align: center;
  color: #ccffaa;

  
}

h1{
  font-size: 60px;
}

#score-flex{
  display: flex;
  justify-content: space-around;
}

p{
  font-size: 24px;
}

#icon-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 1000px;

  margin-left: auto;
  margin-right: auto;
}

.icon{
  padding: 10px;
  cursor: pointer;
}